@import './abstracts/variables';
@import './base/animations';
@import './base//typography';
@import './base/utilities';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 2rem;
}

/*************************
 * HEADER
 *************************/

/* 
 * You can set two background images if you pass two arguments into background-image property
 * You can use clip path to set what part of an image does and doesn't show
 */
.header {
    height: 95vh;
    width: auto;
    background-image: linear-gradient(to bottom right, rgba($primary-color, 0.75), rgba($secondary-color, 0.75)), url('../img/main-background.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -o-clip-path: polygon(0 0,header__logo-box--logo 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__logo-container {
        position: absolute;
        top: 3%;
        left: 3%;
    }
    
    &__logo {
        height: 5rem;
    }
    
    &__container {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary {
    color: #fff;
    margin-bottom: 2.5rem;

    &--main {
        display: block;
        font-size: 4.0rem;
        letter-spacing: 1rem;
        animation: moveFromLeft 1s;
        -webkit-animation: moveFromLeft 1s;
    
        /*
        animation-delay: 3s; // time delay before animation actually happens
        animation-iteration-count: 3; // how many times the animation will occur
        animation-timing-function: ease-in; // how the animation will go ie. slow to fast or fast to slow
        */
    }
    
    &--sub {
        display: block;
        animation: moveFromRight 1s 0.5s;
        -webkit-animation: moveFromRight 1s 0.5s;
        animation-fill-mode: backwards;
        font-size: 2rem;
    }
}

@keyframes moveFromLeft {
    from {
        opacity: 0;
        transform: translateX(-10rem);
        -webkit-transform: translateX(-10rem);
        -moz-transform: translateX(-10rem);
        -ms-transform: translateX(-10rem);
        -o-transform: translateX(-10rem);
}

    to {
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

@keyframes moveFromRight {
    from {
        opacity: 0;
        transform: translateX(10rem);
        -webkit-transform: translateX(10rem);
        -moz-transform: translateX(10rem);
        -ms-transform: translateX(10rem);
        -o-transform: translateX(10rem);
}

    to {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.btn {
    &:link, &:visited {
        text-decoration: none;
        display: inline-block;
        border-radius: 10rem;
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
        -ms-border-radius: 10rem;
        -o-border-radius: 10rem;
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }
    
    &-white {
        background-color: $primary-white;
        color: $secondary-color;
        padding: 1rem 5.5rem;
    }
    
    &:hover {
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    &:active {
        transform: translateY(-1px);
        -webkit-transform: translateY(-1px);
        -moz-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    }
}